        
        body {
           
            font-family: Lato;
            position: relative;
            width: 411px;
            height: 731px;
            margin: auto;
            background: #faf4f4
             
            }
